#body{
	clear:both;
}

img {
	-webkit-filter: grayscale(100%);

}

#subtitle{
	clear:both;
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
	color:black;
}

#leftcol, #centercol, #rigthcol{
	width: 31%;
	float:left;
	padding: 1%;
}

#leftcol img.image, #centercol img.image, #rightcol img.image{
	float:right;
	padding-right: 1%
	-webkit-filter: grayscale(100%);
}

#footer {
	clear:both;
	text-align: center;
}