#body{
	clear:both;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    -webkit-filter: grayscale(100%);
}

#subtitle{
	clear:both;
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
	color:black;
}

#top{
	width: 100%;
	float: left;
	padding: 1%	;
	
}

#top img{
	margin-left: auto;
	margin-right: auto;
}

#b1 img, #b2 img, #b3 img, #b4 img{
	width: 23%;
	padding: 1%;
	float: left;
}

#footer {
	clear: both;
	text-align: center;
}